@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0;
  padding: 0;
  background:rgba(245,248,250,1);
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 568px) {
    .board-container { width: 550px; } 
}
@media (min-width: 792px) {
    .board-container { width: 770px; } 
}
@media (min-width: 1100px) {
    .board-container { width: 1070px; } 
}

h1 {
  font-variant: small-caps;
}

.container {
  margin: 0 auto;
}

.content-container {
  padding-top: 20px;
  margin: 0 auto;
  width: 90%;
}

.board-container { 
  margin: 0 auto;
  margin-bottom: 24px;
}

.listing-container {
  min-width: 600px;
}

.nav-container {
  text-align: center;
}

.header-link {
  color: #000000;
  text-decoration: none;
}

.welcome-msg {
  color: #ffffff;
  font-variant: small-caps;
  margin-left: 25%;
  margin-right: 25%;
  position: absolute;
  top: 35%;
  width: 50%;
  text-align: center;
}

.welcome-msg-text {
  font-size: 20pt;
  letter-spacing: 1.5pt;
  margin-bottom: 0;
}

.sign-up-msg {
  font-size: 10pt;
  font-variant: normal;
  font-style: italic;
}

/* sticky footer code: http://stackoverflow.com/questions/9383163/how-do-i-position-a-div-at-the-bottom-center-of-the-screen */
.bottom-sign-up {
  background:#323232;
  color: #ffffff;
  position: absolute;
  width: 300px;
  bottom: 0px;
  right: 25%;
  left: 50%;
  margin-left: -150px;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.welcome-title {
  font-weight: bold;
  font-size: 40pt !important;
  margin-bottom: 30px !important;
}

.welcome-msg .fa-search {
  font-size: 12pt !important;
}

.mdl-textfield__input, .mdl-textfield__label {
  font-size: 16pt !important;
}

.mdl-layout__header-row {
  background-color: #ffffff;
}

.search label {
  text-align: center !important;
  color: #ffffff !important;
  line-height: normal;
}

.search input {
  border-bottom: 1px solid #ffffff !important;
  text-align: center !important;
  font-variant: small-caps;
}

.mdl-spinner {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.help-block {
  font-size: 9pt;
  color: #d50000;
  margin: -10px 0 0 0;
}

.avatar {
  width:50px;
	height:50px;
	border-radius: 50%;
  padding-right: 5px;
  margin-bottom: 10px;
}

.avatar-field {
  padding-top: 20px;
}

/* profile styling */

.profile-nav {
  margin: 16px 0 0 10px;
  float: right;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-nav img {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

.profile-drawer {
  float: left;
  margin-left: 10px;
  width: 175px;
  height: 175px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-drawer img {
  display: inline;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10px;
}

.links {
  clear: both;
  text-align: left;
  margin: 10px 0 10px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.drawer-title {
  margin: 0 0 10px 15px !important;
}

.mdl-layout-title {
  padding: 0 !important;
}

.icon {
  color: #ffffff;
  width: 100%;
  text-align: right;
  margin: auto;
}

.drawer-title i {
  font-size: 11pt;
  padding-left: 5px;
}

.mdl-navigation {
  padding-top: 0 !important;
}

/* message board */
.category-flex {
	display: flex;
  flex-wrap: wrap;
}

.card-column {
	flex-basis: 100%;
	display: flex;
}

.item {
	border-radius: 3px;
	margin-bottom: 1em;
  width: 100%;
}

.board-container h1 {
  margin-bottom: 0;
}

.create-button {
  border: 1px solid #d3d3d3 !important;
  color: gray !important;
  background-color: #ffffff !important;
  margin-bottom: 25px !important;
  margin-right: 10px !important;
}

.write-msg {
  background-color: #ffffff;
}

.write-msg form {
  margin-left: 3% !important;
  margin-right: 3% !important;
}

.form-para {
  margin: 0;
  font-variant: small-caps;
  font-size: 14pt;
}

.msg-input {
  width: 100% !important;
  font-variant: small-caps;
}

.msg-input .mdl-textfield__input, .msg-input-type .mdl-textfield__input {
  font-size: 12pt !important;
}

.msg-input .mdl-textfield__label, .msg-input-type .mdl-textfield__label {
  font-variant: small-caps;
    font-size: 14pt !important;
}

.listing {
  background-color: #ffffff;
  padding: 24px;
  text-align: justify;
  overflow: auto;
}

.msg-list {
  margin-bottom: 10%;
  min-width: 300px;
}


.image {
	margin:10px;
	float:left;
}

li {
	padding-bottom:10px;
	margin-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid #d3d3d3;
}

.time {
	color: #9d9d9d;
  text-align: right;
  font-size: 10pt;
  margin: 3px 10px;
}

.handle {
	font-size:1.25em;
	font-weight: 700;
}

.handle a {
  color: gray;
  text-decoration:  none;
}

.message {
	font-size: 1.5em;
}

.message-box {
	border-bottom:1px solid #d3d3d3;
	padding:20px;
	margin-left:100px;
	margin-right:100px;
	background-color: white;
}

.message-box:hover{
	background-color:rgba(211, 211, 211, 0.27);
}

.avatar-post {
  width: 20px;
	height: 20px;
	border-radius: 50%;
}

.listing-avatar {
  border-radius: 50%;
}

.posted-by {
  color: #9d9d9d;
  font-size: 9pt;
  text-align: right;
  margin: 10px;
}

.tags {
  float: left;
}

.tags a {
  text-decoration: none;
}

.post-img {
  width: 300px;
	height: 150px;
  background-size: cover;
  padding-right: 5px;
  margin-bottom: 10px;
}

.listing-img {
  width: 100%;
	height: 175px;
  background-size: cover;
}

.listing-title {
  position: relative;
  top: 112px;
  color: #ffffff;
  display: inline;
  padding-left: 10px;
}

.listing-tags {
  background-color: rgba(245,248,250,0.5);
  float: right;
  border-radius: 5px;
  padding: 3px;
  margin-top: 144px;
  margin-right: 6px;
}

.listing-tags a {
  color: #000000;
  text-decoration: none;
}

.user-info {
  float: right;
  padding-left: 24px;
  width: 200px;
  text-align: center;
}

.user-info img {
  width: 200px;
}

.user-info p {
  margin-bottom: 0 !important;
}

.listing-text span {
  padding-left: 10px;
  position: relative;
  top: 6px;
}

.listing-desc {
  margin-top: 20px;
}

.offering, .wanted {
  color: #5C5C5C;
  border-radius: 10px;
  float: left;
  font-size: 14pt;
  font-variant: small-caps;
  padding: 3px;
  margin: 0;
  text-align: center;
  width: 75px;
}

.offering {
  background-color: #C2F0C2;
}

.wanted {
  background-color: #FFB3B3;
}

.show {
  margin-right: 4px;
  font-variant: small-caps;
}

.show .mdl-dialog__content p {
  font-size: 12pt !important;
  font-variant: normal;
}

.editing-heading {
  font-size: 18pt !important;
  margin: -16px;
  margin-top: 4px;
}

.mdl-radio {
  font-variant: small-caps;
  font-size: 14pt !important;
  margin: 0 20px 20px 0 !important;
}

.fa-question {
  float: right;
  color: gray;
}

.help p {
  margin: 0;
}

.mdl-dialog {
  width: 600px !important;
}

.mdl-dialog__content {
  padding-bottom: 0 !important;
}

.mdl-dialog__actions {
  padding-top: 10px !important;
}

/* screen sizing */
@media (min-width: 792px) {
	.card-column {
		flex-basis:50%;
	}
}

@media (min-width: 1100px) {
	.card-column {
		flex-basis:33%;
	}
}

/* profile styling */

#profile, .profile-content {
  background-color: #ffffff;
}

.profile-content {
  padding: 24px;
}

.profile-image {
  margin: 0 auto;
  width: 175px;
  height: 175px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.profile-image img {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

.profile-top {
  background-image: url('');
  background-color: #323232;
  background-size: cover;                     
  background-repeat: no-repeat;
  background-position: center center; 
  height: 300px;
}

.profile-user {
  width: 100%;
  top: 175px;
  position: absolute;
  margin: auto;
  text-align: center;
  display: inline;
}

.profile-stats span {
  vertical-align: top;
  display: inline-block;
  width: 10%;
  padding: 0 30px 0 30px;
}

.display-icon {
  padding: 5px;
}

.mdl-tooltip {
  padding: 10px !important;
}

.job-title {
  color: #5C5C5C;
  letter-spacing: 1px;
  font-size: 18px;
}

.edit-profile {
  padding: 10px;
  margin: 5px 5px 0 0;
  border-radius: 10px;
  background-color: #323232;
  color: #ffffff;
  opacity: 0.5;
}

.edit-profile-text {
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.profile-heading {
  font-size: 32pt;
  color: #323232;
  letter-spacing: 2px;
  margin: 0;
}

.profile-tabs {
  background-color: #ffffff;
}

.profile-alert {
  color: #5C5C5C;
  border-radius: 10px;
  padding: 15px;
  margin: 0 0 15px 0;
}

.profile-alert p {
  margin: 0;
  text-align: center;
}

.red-discard {
  background-color: #ffb3b3;
  border: 1px solid #ff1a1a;
}

.green-confirm {
  background-color: #c2f0c2;
  border: 1px solid #33cc33;
}

.profile-spinner {
  margin-left: 48% !important;
}

.profile-display-name, .profile-job-title, .profile-genre, .profile-location, .profile-about, .profile-experience {
  width: 48% !important;
}

.profile-job-title, .profile-location, .profile-experience {
  float: right;
}

.profile-cover {
  width: 100% !important;
}

.cover-photo {
  background-color: #323232;
  width: 100%;
  height: 300px;
  background-size: cover;                     
  background-repeat: no-repeat;
  background-position: center center; 
}

.cover-preview {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cover-photo p {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  background-color: #323232;
  color: #ffffff;
  opacity: 0.6;
}

.profile-avatar {
  float: left;
  width: 125px;
  height: 125px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.profile-avatar img {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

.profile-avatar-text {
  float: right;
  width: 82% !important;
  transform: translateY(55%);
}

.profile-instruments {
  width: 100% !important;
}

.profile-submit {
  text-align: center;
  clear: both;
}

.tab-content {
  padding: 20px;
}

.hidden {
  display: none;
}